<div id="mainCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="mainCarousel" data-slide-to="1"></li>
        <li data-target="mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" id="carousel1">
            <img ng-src="img/carousel_01.jpg" class="img-responsive"/>

            <div class="carousel-caption">
                <h4>Collaborate and achieve greatness</h4>

                <p>Project creators set a funding goal and deadline. If people like a project, they can pledge money to
                    make it happen.</p>
            </div>
        </div>
        <div class="item">
            <img ng-src="img/carousel_02.jpg" class="img-responsive"/>

            <div class="carousel-caption" id="carousel2">
                <h4>New way to fund creative projects</h4>

                <p>We're a home for everything from films, games, and music to art, design, and technology.</p>
            </div>
        </div>
        <div class="item">
            <img ng-src="img/carousel_03.jpg" class="img-responsive"/>

            <div class="carousel-caption" id="carousel3">
                <h4>Receive funding on your ideas</h4>

                <p>Funding on Kickstart is all-or-nothing - projects must reach their funding goals to receive any
                    money.</p>
            </div>
        </div>
    </div>
    <span class="left carousel-control" data-target="#mainCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" data-target="#mainCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>