<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-responsive-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click=""><img src="img/logo.png" id="logo-img"/></a>
        </div>

        <div class="collapse navbar-collapse component" id="navbar-responsive-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="main.searchText"/>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>

            </form>


            <ul class="nav navbar-nav navbar-right">

                <!-- if not signed in -->
                <li><a href="#registerModal" role="button" data-toggle="modal" ng-if="!main.signedIn">Register</a></li>
                <li><a href="#loginModal" role="button" data-toggle="modal" ng-if="!main.signedIn">Login</a></li>

                <!-- if signed in and auth lvl 0-->
                <div class="nav navbar-nav navbar-right" ng-if="main.signedIn && main.authLvl == 0">
                    <li class="label">Welcome Admin</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            My Account <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="">Users Control</a></li>
                            <li><a ng-click="">My Info</a></li>
                            <li><a ng-click="">Option 3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="logoutRequest()">Logout</a></li>
                        </ul>
                    </li>
                </div>

                <!-- if signed in and auth lvl 1-->
                <div class="nav navbar-nav navbar-right" ng-if="main.signedIn && main.authLvl == 1">
                    <li class="label">Welcome Project Manager</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            My Account <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="">Watch My Projects</a></li>
                            <li><a ng-click="">Add New Project</a></li>
                            <li><a ng-click="">My Info</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="logoutRequest()">Logout</a></li>
                        </ul>
                    </li>
                </div>

                <!-- if signed in and auth lvl 2-->
                <div class="nav navbar-nav navbar-right" ng-if="main.signedIn && main.authLvl == 2">
                    <li class="label">Welcome Investor</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            My Account <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="">Watch My Investments</a></li>
                            <li><a ng-click="">My Info</a></li>
                            <li><a ng-click="">Option 3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="logoutRequest()">Logout</a></li>
                        </ul>
                    </li>
                </div>

            </ul>
        </div>
    </div>
</nav>

<div ng-include src="'partials/login.html'"></div>
<div ng-include src="'partials/register.html'"></div>