<div class="container feature-list">

    <div class="row">
        <div class="col-12">
            <h1 class="feature-list-header">My Investments</h1>
        </div>
    </div>

    <div class="row features">
        <div class="col-sm-4 feature" ng-repeat="project in user.investments | filter:main.searchText">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{project.name}} -
                        <span class="project-active" ng-show="project.Active">Active</span>
                        <span class="project-ended" ng-show="!project.Active">Ended</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <img ng-src="{{project.thumb}}" alt="{{project.name}}" class="img-circle">

                    <p>{{project.description}}</p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{project.fundPercent}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{ 'width': project.fundPercentWidth + '%' }">
                            {{project.fundPercent}}%
                        </div>
                    </div>

                    <div class="feature-text">
                        You Invested: {{project.UserInvestAmount}}$
                    </div>

                    <div class="feature-text">
                        Total Raised: {{project.moneybacked}}$ / {{project.AmountNeeded}}$
                    </div>

                    <div class="feature-text" ng-show="project.Active">
                        End in: {{project.daysLeft}} Days
                    </div>
                    <div class="feature-text" ng-show="!project.Active">
                        Ended
                    </div>

                    <a href="#/project/{{project.id}}" class="btn btn-large btn-primary">Watch</a>
                </div>
            </div>
        </div>
    </div>
</div>