@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|Didact+Gothic);


/********************************
*   General
*
********************************/

body {
    color: #114E79;
    background-color: #73b4c8;
    margin-top: 70px;
}

.div-center {
    text-align: center;
}

.col-center {
    display:inline-block;
    float:none;
}

.hiddenClass {
    visibility: hidden;
}


/********************************
*   Header / navbar
*
********************************/

.label {
    color: #7ca0db;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 15px 200px 0 0;
}

.navbar {
    background-color: #2c3e50;
}


.navbar .component li > a {
    color: #7ca0db;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #7ca0db;
    background-color: transparent;
}

.navbar .component li > a:hover, .open {
    color: #2c8d7e;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #2c8d7e;
    background-color: #133b62;
}

.navbar-inverse .navbar-toggle {
    border-color: #7ca0db;
}

.nav .user-title {
    margin: 15px 40px 0 0;
}

#logo-img {
    width: 311px;
    height: 26px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #7ca0db;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #7ca0db;
}

.modal-btn-div {
    margin: 15px 15px 0 0;
}



/********************************
*   Carousel
*
********************************/

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#mainCarousel {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 6px solid #212d3a;
    -webkit-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    width: 103%;
    margin-left: -18px;
}


/********************************
*   Well
*
********************************/

.kickStartWell {
    margin: 50px 0 50px 0;
    background-color: rgba(198, 208, 239, 0.64);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #212d3a;
    -webkit-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
}

.kickStartWell small {
    color: #2c8d7e;
}

.kickStartWell .btn-link {
    color: #2c8d7e;
}

.kickStartWell .page-header {
    margin-top: -15px;
    border-bottom: 2px solid #212d3a;
}


/********************************
*   Features
*
********************************/

#ourProjectsHeader{
    margin-left: 30px;
}

#ourProjectsHeader small {
    color: #B52711;
}

.features {
    margin: 10px 0 30px 0;
    text-align: center;
}

.features .panel {
    background-color: rgba(198, 208, 239, 0.64);
}

.img-circle {
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
}

.feature {
    margin-bottom: 20px;
}

.features .progress-bar {
    background-color: #50C47A;
}

.features .feature-text {
    margin: -10px 0 15px 0;
    font-weight: bold;
}

.main .features p {
    min-height: 120px;
}


/********************************
*   Project
*
********************************/

.project-header {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #2C3E50;
}

.project .lead {
    margin-bottom: 0;
}

.project-img-div {
    text-align: center;
    margin-top: 30px;
}

.project-img {
    max-width: 250px;
    max-height: 250px;
}

.project-video {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #212d3a;
    -webkit-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 25px -6px rgba(0,0,0,0.75);
    margin: 30px 0 60px 0;
}

.project .sub-title {
    margin-top: 20px;
}

.progress-bar-div {
    width: 470px;
}

.blueimp-gallery-img {
    max-width: 150px;
    max-height: 150px;
    margin: 30px 0 30px 0;
}

.blueimp-gallery .glyphicon {
    font-size: 35px;
}

.project-img-row {
    margin-bottom: 50px;
}

.project-backers {
    text-align: left;
    margin-bottom: 50px;
}

.project-backers .list-group-item {
    background-color: rgba(198, 239, 214, 0.64);
    border: 1px solid #212D3A;
}

.project .bottom-buttons {
    margin: 80px 0 30px 0;
}

.timer-header {
    margin-top: -10px;
}

#projectWell {
    background-color: rgba(198, 239, 214, 0.64);
    font-family: 'Didact Gothic', sans-serif;
}

#backAmountForm {
    background-color: rgba(198, 239, 214, 0.64);
    border: 1px solid #212D3A;
}

#backAmountForm .form-group {
    margin: 20px 10px 0 0;
}

#backAmountForm .btn-div {
    margin: 0 15px 20px 0;
}


/********************************
*   Project List
*
********************************/

.feature-list {
    text-align: center;
}

.feature-list-header {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #2C3E50;
}

.features {
    margin: 55px 0 50px 0;
}

.feature-list .features p {
    min-height: 120px;
}

.feature-list .features .btn {
    width: 40%;
    margin: 0 10px 0 10px;
}

.admin-mode .feature-list .features .btn {
    width: 25%;
    margin: 0 10px 0 10px;
}

.feature-list .features .panel-title .project-active {
    color: #00EE1C;
    font-weight: bold;
}

.feature-list .features .panel-title .project-ended {
    color: #FF6969;
    font-weight: bold;
}



/********************************
*   User List
*
********************************/

.user-list .features .btn {
    width: 40%;
    margin: 0 10px 0 10px;
}

.user-list .features .user-details {
    margin: 10px 0 5px 0;
    min-height: 100px;
}